#Header__logoutBtn {
  border: none;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.55);
}

// .ring {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 150px;
//   height: 150px;
//   background: transparent;
//   //  border: 3px solid #3c3c3c;
//   border-radius: 50%;
//   text-align: center;
//   line-height: 150px;
//   font-family: sans-serif;
//   font-size: 20px;
//   color: #99e9f2;
//   letter-spacing: 4px;
//   text-transform: uppercase;
//   text-shadow: 0 0 10px #99e9f2;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
// }
// .ring:before {
//   content: '';
//   position: absolute;
//   top: -3px;
//   left: -3px;
//   width: 100%;
//   height: 100%;
//   border: 3px solid transparent;
//   border-top: 3px solid #99e9f2;
//   border-right: 3px solid #99e9f2;
//   border-radius: 50%;
//   animation: animateC 2s linear infinite;
// }
// .ring-span {
//   display: block;
//   position: absolute;
//   top: calc(50% - 2px);
//   left: 50%;
//   width: 50%;
//   height: 4px;
//   background: transparent;
//   transform-origin: left;
//   animation: animate 2s linear infinite;
// }
// .ring-span:before {
//   content: '';
//   position: absolute;
//   width: 16px;
//   height: 16px;
//   border-radius: 50%;
//   background: #99e9f2;
//   top: -6px;
//   right: -8px;
//   box-shadow: 0 0 20px #99e9f2;
// }
// @keyframes animateC {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// @keyframes animate {
//   0% {
//     transform: rotate(45deg);
//   }
//   100% {
//     transform: rotate(405deg);
//   }
// }

.loadingImg {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alertModalDiv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 140px;

  border: 1px solid #d5d5d5;
  border-radius: 4px;

  > div:first-child {
    width: 100%;
    height: 20px;
    background-color: #91a7ff;
  }
  > h4 {
    margin-top: 20px;
    position: relative;
    left: 45px;
    font-size: 14px;
  }
  > button {
    position: relative;
    top: 30px;
    left: 225px;

    background-color: #4c6ef5;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
  }
}
