.grid__contents {
  height: 380px;
  overflow: auto;
  overflow-x: hidden;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  > div {
    padding-left: 40px;

    display: grid;
    grid-template-columns: 2.3fr 1.2fr 1fr 1fr 1fr 1.2fr;
    grid-template-rows: auto;

    padding-bottom: 15px;

    span {
      min-width: 40px;

      font-family: 'Noto Sans KR';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;

      padding-top: 20px;
    }
    span:not(:nth-child(6n + 1)) {
      padding-left: 15px;
    }

    .grid__contents__className,
    .grid__contents__Professor {
      font-weight: 500 !important;
    }
    .grid__contents__ClassTime {
      font-size: 13px;
    }
  }
}

.grid__contents::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.grid__contents__columns {
  &:hover {
    background: rgba(118, 143, 255, 0.2);
  }
}

.grid__contents__columns-active {
  background-color: #768fff33;
}
