.MyTimetable__column {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}
.MyTimetable__left {
  margin-right: 38px;
}

.MyTimetable__right__one {
  margin-bottom: 20px;
}

.MyTimetable__right__two {
  overflow: hidden;
}
