html {
  font-size: 62.5%;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.p-h1 {
  font-weight: 500;
  font-size: 2.8rem;
}
h2 {
  font-weight: 500;
  font-size: 2.4rem;
}
.p-p {
  font-weight: 300;
  font-size: 1.4rem;
}

.form-select {
  font-weight: 500;
  font-size: 1.6rem;
  height: 60px;
  margin-bottom: 20px;
}

.a-pwpage {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

a {
  color: black;
}

.App-logo {
  height: 30px;
  pointer-events: none;
}

.p-nav {
  margin-top: 10px;
}

.navbar-nav {
  right: 0;
  font-size: 1.4rem;
}

.form-check-label {
  font-size: 1.4rem;
  font-weight: 400;
}
